html, body {
	margin: 0;
	background-color: #9F9F9F;
	height: 100%;
	overflow: hidden;
	font-family: Helvetica, Arial;
}

* {
	box-sizing: border-box;
}

#container {
	width:;
	height: 100%;
	float: left;
}

#menu {
	float: right;
	background-color: #3E3E3E;
	width: 260px;
	height: 100%;
	overflow-y: auto;
}

#menu::-webkit-scrollbar { width: 5px; background-color: #323232}
#menu::-webkit-scrollbar-button       { height: 5px; }
#menu::-webkit-scrollbar-track-piece  { background-color: #282828; }
#menu::-webkit-scrollbar-thumb        { background-color: #505050; }

.modifier {
	width: 100%;
	background-color: #262626;
}

.modifier_title {
	width: 100%;
	height: 30px;
	background-color: #313131;
	color: #8F8F8F;
	padding: 4px;
	padding-top: 5px;
	font-weight: bold;
    font-size: 14px;
    border-top : 1px solid #393939;
    border-bottom: 1px solid #202020;
}

.modifier_content {
    padding: 20px;
    margin: 0;
    color: #8D8D8D;
    font-size: 14px;
	overflow: hidden;
 	max-height: 500px;
    
    transition: max-height 0.55s ease-in, padding 0.5s;
}

.hidden {
	max-height: 0px;
	padding-top: 0;
	padding-bottom: 0;
    transition: max-height 0.55s ease-out, padding 0.5s;
}

.arrow {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #8F8F8F;
	float: left;
	margin: 5px;

	transition: transform 0.2s;
	transform: rotate(0);

}

.rotate {
	transform: rotate(90deg);
}

.space {
	width: 100%;
    height: 16px;
}

.separator {
	width: 100%;
    border-top : 1px solid #393939;
    border-bottom: 1px solid #202020;
}

input[type=checkbox] {
	margin-bottom: 0;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #0A0A0A;
    width: 220px;
    border-bottom: 1px solid #343434;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 220px;
    height: 4px; 
    background: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #9F9F9F;
    height: 7px;
    width: 20px;
    margin-top: -1px;
    border-radius: 10%;
    background: #8D8D8D;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    width: 220px;
    height: 5px;
    background: #0A0A0A;
    border: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 7px;
    width: 20px;
    border-radius: 10%;
    background: #8D8D8D;
}

input[type=range]:-moz-focusring{
    outline: none;
}